PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET= code-and-leo
ACCESS_TOKEN_EXPIRY= 1d
REFRESH_TOKEN_SECRET=code-and-backend
REFRESH_TOKEN_EXPIRY= 7d



CLOUDINARY_CLOUD_NAME=leo_and_code
CLOUDINARY_API_KEY=my_key
CLOUDINARY_API_SECRET=my_secret


























































MONGODB_URI=mongodb+srv://leo_stanley:leostanley0303@backend.cohbnjb.mongodb.net